<h1>Jobs Center</h1>

<%= link_to t("vacancies_link"), employee_vacancies_path %>
<%= link_to 'Cadastrar Funcionário', new_employee_registration_path %>
<%# t("hello") %>


<%# link_to t("promotions_link"), promotions_path %>
<%# link_to t("product_categories_link"), product_categories_path %>
