<h1>Jobs Center</h1>

<% if employee_signed_in? %>
  <%= link_to t("vacancies_link"), employee_vacancies_path %>
<% elsif applicant_signed_in? %>
  <%= link_to t("vacancies_link"), applicant_vacancies_path %>
<% else %>
  <%= link_to t("vacancies_link"), visitor_vacancies_path %>
<% end %>
<%# t("hello") %>


<%# link_to t("promotions_link"), promotions_path %>
<%# link_to t("product_categories_link"), product_categories_path %>
