<% if @vacancies.empty? %>
  <div class="warning">Nenhuma vaga cadastrada</div>
<% end %>
<%= link_to 'Cadastrar uma Vaga', new_employee_vacancy_path %>
<% @vacancies.each do |vacancy| %>
<dl>
  <dt>Título</dt>
  <dd><%= link_to vacancy.title, [:employee, vacancy] %></dd>
  <dt>Descrição</dt>
  <dd><%= vacancy.description %></dd>
</dl>
<% end %>
<%= link_to 'Voltar', root_path %>